$Basic-Black:#000000f1;
$Main-Regular: #323264;
$Main-Alt: #46466e;
$Main-Soft: #686887;
$Accent: #f0145a;
$Active-Regular: #24a3ff;
$active-hover: #0085ff;
$active-active: #006ccf;
$Grey-Bg: #f5f5fa;
$Grey-Bg-Alt: #ededf7;
$Grey-Text: #b3b3ba;
$Grey-Separator: #e6e6f0;
$Basic-White:#fff;
$Gradient-Regular: (129deg, #323264 0%, #323264 73.96%, #a54b5f 100%);
$Gradient-Soft:(42deg, #323264 14.33%, #323264 51.39%, #7a425e 87.53%) ;
$Gradient-Red: (323deg, #f0145a 6.7%, #693264 70.36%);
$Gradient-Supersoft: (229deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
$Gradient-Red-Text: (90deg, #f0145a 0.84%, #ef8080 99.96%);