.language__btn {
  border: none;
  background-color: #46466e;
  padding: 7px;
  font-family: "Mont Bold";
  font-size: 12px;
  line-height: normal;
  color: #b3b3ba;
}
.language__btn--active {
  font-family: "Mont Bold";
  font-size: 12px;
  line-height: normal;
  color: #fff;
  padding: 6px;
  border-radius: 8px;
  background: #f0145a;
  border: none;
}

.number {
  display: flex;
  align-items: center;
  justify-content: normal;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  font-family: "Mont Bold";
  font-size: 12px;
  line-height: normal;
  color: #b3b3ba;
}

.burger-menu_hlegal {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  background-color: #323264;
}

.contacts {
  padding: 10px 15px;
  display: flex;
  align-items: normal;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  background: #46466e;
}

.text-team {
  font-family: "Mont Bold";
  font-size: 20px;
  line-height: normal;
  color: #323264;
}

.hlegalsvg {
  padding: 15px 0 10px 0;
  display: flex;
  align-items: start;
  justify-content: normal;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 4px;
}

.menu {
  border: none;
  padding: 10px 7px;
  background-color: #323264;
}

.information {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
  background-color: #f5f5fa;
  border-top: 4px solid #e6e6f0;
  padding: 30px;
}
.information__street {
  font-family: " Mont Regular";
  font-size: 16px;
  line-height: normal;
  color: #323264;
  padding-bottom: 10px;
}
.information__map {
  font-family: " Mont Regular";
  font-size: 12px;
  line-height: normal;
  color: #24a3ff;
  padding-bottom: 21px;
  text-transform: uppercase;
}
.information__facebook {
  background-color: #fff;
  padding-bottom: 10px;
  border: none;
}
.information__phone {
  font-family: "Mont Bold";
  font-size: 16px;
  line-height: normal;
  color: #46466e;
  padding-bottom: 10px;
}
.information__email {
  font-family: "Mont Bold";
  font-size: 16px;
  line-height: normal;
  color: #24a3ff;
  padding-bottom: 30px;
}
.information__hlegal {
  font-family: " Mont Regular";
  font-size: 16px;
  line-height: normal;
  color: #b3b3ba;
}

.servises-cards {
  display: flex;
  align-items: normal;
  justify-content: normal;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 30px;
  background: var(--Gradient-Supersoft, linear-gradient(263deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%));
  padding: 30px 30px 60px 30px;
  border-radius: 0 0 12px 12px;
}
.servises-cards__header {
  font-family: "Mont Bold";
  font-size: 30px;
  line-height: normal;
  color: b;
  background: var(--Gradient-Red-Text, linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.servises-cards__svg {
  padding: 14px;
  border-radius: 24px;
  margin-bottom: 30px;
  background-color: #fff;
}
.servises-cards__text-regular {
  font-family: "Mont Bold";
  font-size: 22px;
  line-height: normal;
  color: #24a3ff;
  margin-bottom: 15px;
}
.servises-cards__text-basic {
  font-family: " Mont Regular";
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}

.border-radius {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
}
.border-radius__dark {
  width: 295px;
  height: 10px;
  border-radius: 0 0 12px 12px;
  background: #cacadb;
}
.border-radius__light {
  margin: 0 20px;
  width: 265px;
  height: 10px;
  border-radius: 0 0 12px 12px;
  background: #e7e7f2;
}

.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
  margin: 30px 0 0 0;
}
.clients__text {
  font-family: "Mont Bold";
  font-size: 14px;
  line-height: normal;
  color: #323264;
  margin-bottom: 30px;
}
.clients__hillel {
  max-width: 100%;
  padding: 39px 90px;
  background: #1c4280;
}
.clients__wannabiz {
  max-width: 100%;
  padding: 39px 90px;
  background: #143646;
}
.clients__tapgerine {
  max-width: 100%;
  padding: 39px 90px;
  background: linear-gradient(0deg, #f48b30 0%, #f48b30 100%), #f48b30;
}
.clients__3dlook {
  max-width: 100%;
  padding: 39px 90px;
  background: #9e4dc3;
}
.clients__arangear {
  max-width: 100%;
  padding: 39px 90px;
  background: #fd9339;
}
.clients__adtelligent {
  max-width: 100%;
  padding: 39px 90px;
  background: #e2e2e4;
}

.about-team {
  padding: 0 30px;
  margin-top: 30px;
}
.about-team__image {
  max-width: 100%;
  display: block;
  height: 415px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px 12px 0 0;
}
.about-team__text {
  padding: 20px;
  background-color: #f5f5fa;
  border-radius: 0 0 12px 12px;
  margin-bottom: 30px;
}
.about-team__regular {
  margin-bottom: 5px;
  font-family: "Mont Bold";
  font-size: 14px;
  line-height: normal;
  color: #24a3ff;
  display: flex;
  align-items: center;
  justify-content: normal;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.about-team__red-text {
  font-family: "Mont Bold";
  font-size: 30px;
  line-height: normal;
  color: b;
  background: linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}
.about-team__name {
  font-family: "Mont Bold";
  font-size: 16px;
  line-height: normal;
  color: #b3b3ba;
  margin-bottom: 6px;
}
.about-team__role {
  font-family: " Mont Regular";
  font-size: 14px;
  line-height: 22px;
  color: #b3b3ba;
}

.ellipse {
  display: flex;
  align-items: normal;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
}

.publications {
  padding: 30px;
  background-color: #f5f5fa;
  display: flex;
  align-items: normal;
  justify-content: normal;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
}
.publications__btn {
  font-family: "Mont Bold";
  font-size: 16px;
  line-height: normal;
  color: #fff;
  background: var(--Active-Regular, #24a3ff);
  box-shadow: 0 0 20px 0 rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  padding: 18px 30px;
  margin-top: 30px;
  border: none;
}
.publications__image {
  max-width: 100%;
}
.publications__Equity-associate {
  padding: 30px;
  background-color: #fff;
}
.publications__Equity-associate__last-card {
  margin-top: 30px;
}
.publications__text {
  font-family: "Mont Bold";
  font-size: 16px;
  line-height: normal;
  color: #24a3ff;
  margin-bottom: 15px;
}
.publications__date {
  font-family: "Mont Bold";
  font-size: 12px;
  line-height: normal;
  color: #b3b3ba;
  padding-bottom: 15px;
  border-bottom: 4px solid #e6e6f0;
}
.publications__info {
  font-family: " Mont Regular";
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.9450980392);
  padding-top: 15px;
}
.publications__text-img {
  font-family: "Mont Bold";
  font-size: 14px;
  line-height: normal;
  color: #24a3ff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.publications__text-gradient {
  font-family: "Mont Bold";
  font-size: 25px;
  line-height: normal;
  color: b;
  background: var(--Gradient-Red-Text, linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}/*# sourceMappingURL=index.css.map */