@use "colors";
@use "mixins";

.contacts {
  padding: 10px 15px;
  background-color: colors.$Grey-Bg;
  @include mixins.flex($jc: space-between, $ai: center);
}
.language {
  &__btn {
    border: none;
    background-color: colors.$Grey-Bg;
    padding: 7px;
    @include mixins.text-bold(12px, normal, colors.$Grey-Text);

    &--active {
      @include mixins.text-bold(12px, normal, colors.$Basic-White);
      padding: 6px;
      border-radius: 8px;
      background: colors.$Accent;
      border: none;
    }
  }
}

.number {
  @include mixins.flex(center, normal);
  @include mixins.text-bold(12px, normal, colors.$Grey-Text);
}

.burger-menu_hlegal {
  padding: 0 15px;
  @include mixins.flex(center, space-between);
  margin-bottom: 30px;
}

.text-about {
  @include mixins.text-bold(20px, normal, colors.$Main-Regular);
}

.hlegalsvg {
  padding: 15px 0 10px 0;
  @include mixins.flex(start, normal, row, 4px);
}

.menu {
  border: none;
  padding: 10px 7px;
  background-color: colors.$Basic-White;
}

.intro {
  padding: 0 30px 0 30px;
  margin-bottom: 30px;

  &__gradient {
    font-family: "Mont Bold";
    font-size: 30px;
    background: linear-gradient(90deg, #f0145a 0%, #ef8080 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: #f0145a;
    -webkit-text-fill-color: transparent;
    margin-bottom: 28px;
  }

  &__info {
    color: colors.$Basic-Black;
    font-family: "Mont Regular";
    font-size: 19px;
    line-height: 30px; /* 157.895% */
    margin-bottom: 30px;
  }

  &__years {
    border-left: 4px solid colors.$Grey-Separator;
  }

  &__svg {
    margin-left: 30px;
    @include mixins.flex(normal, normal, column, 8px, wrap);
  }
}

.photo-teams__backgraund {
  padding: 35px 113.5px;
  background-image: url(../img/teams.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  @include mixins.text-bold(36px, normal, colors.$Basic-White);
  text-transform: uppercase;
}

.more {
  padding: 30px;

  &__info {
    color: colors.$Basic-Black;
    @include mixins.text-regular(19px, normal, colors.$Basic-Black);

    &__gradient {
      margin-top: 30px;
      @include mixins.text-bold(30px, normal, colors.$Gradient-Red);
      background: linear-gradient(90deg, #f0145a 0%, #ef8080 100%);
      -webkit-background-clip: text;
      background-clip: text;
      color: #f0145a;
      -webkit-text-fill-color: transparent;
    }
  }
}

.achievements {
  @include mixins.flex(center, center, column, 30px);
  padding: 30px 60px;
  background: colors.$Grey-Bg;

  &__text {
    @include mixins.text-bold(14px, normal, colors.$Main-Regular);
    text-align: center;
    text-transform: uppercase;
  }

  &__image {
    padding: 25px 70px;
    border-radius: 12px;
    background: colors.$Basic-White;
  }

  &__circle {
    @include mixins.flex(normal, normal, row, 14px);
  }
}

.information {
  @include mixins.flex(center, center, column);
  background-color: colors.$Grey-Bg;
  padding: 30px;
  border-top: 2px solid colors.$Grey-Separator;

  &__street {
    @include mixins.text-regular(16px, normal, colors.$Main-Regular);
    padding-bottom: 10px;
  }

  &__map {
    @include mixins.text-regular(12px, normal, colors.$Active-Regular);
    padding-bottom: 21px;
    text-transform: uppercase;
  }

  &__facebook {
    background-color: colors.$Grey-Bg;
    padding-bottom: 10px;
    border: none;
  }

  &__phone {
    @include mixins.text-bold(16px, normal, colors.$Main-Alt);
    padding-bottom: 10px;
  }

  &__email {
    @include mixins.text-bold(16px, normal, colors.$Active-Regular);
    padding-bottom: 30px;
  }

  &__hlegal {
    @include mixins.text-regular(16px, normal, colors.$Grey-Text);
  }
}
