.language__btn {
  border: none;
  background-color: #f5f5fa;
  padding: 7px;
  font-family: "Mont Bold";
  font-size: 12px;
  line-height: normal;
  color: #b3b3ba;
}
.language__btn--active {
  font-family: "Mont Bold";
  font-size: 12px;
  line-height: normal;
  color: #fff;
  padding: 6px;
  border-radius: 8px;
  background: #f0145a;
  border: none;
}

.number {
  display: flex;
  align-items: center;
  justify-content: normal;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  font-family: "Mont Bold";
  font-size: 12px;
  line-height: normal;
  color: #b3b3ba;
}

.burger-menu_hlegal {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  margin-bottom: 30px;
}

.contacts {
  padding: 10px 15px;
  display: flex;
  align-items: normal;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  background-color: #f5f5fa;
}

.text-team {
  font-family: "Mont Bold";
  font-size: 20px;
  line-height: normal;
  color: #323264;
}

.hlegalsvg {
  padding: 15px 0 10px 0;
  display: flex;
  align-items: start;
  justify-content: normal;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 4px;
}

.menu {
  border: none;
  padding: 10px 7px;
  background-color: #fff;
}

.content {
  padding: 0 30px;
}
.content__card {
  margin-bottom: 30px;
}
.content__image {
  max-width: 100%;
  border-radius: 12px;
  margin-bottom: 30px;
}
.content__name {
  font-family: "Mont Bold";
  font-size: 33px;
  line-height: normal;
  color: b;
  background: var(--Gradient-Red-Text, linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 10px;
}
.content__role {
  font-family: "Mont Regular";
  font-size: 14px;
  line-height: 22px;
  color: #b3b3ba;
  padding-bottom: 10px;
}
.content__email {
  font-family: "Mont Regular";
  font-size: 16px;
  line-height: normal;
  color: #24a3ff;
  padding-bottom: 10px;
}
.content__link {
  font-family: "Mont Regular";
  font-size: 16px;
  line-height: normal;
  color: #24a3ff;
}
.content__link:hover {
  font-family: "Mont Regular";
  font-size: 16px;
  line-height: normal;
  color: #f0145a;
}

.content-text {
  border-top: 4px solid #e6e6f0;
}
.content-text__about {
  margin: 30px 0;
  font-family: "Mont Regular";
  font-size: 16px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.9450980392);
}
.content-text__education {
  margin-bottom: 15px;
  font-family: "Mont Bold";
  font-size: 14px;
  line-height: normal;
  color: #323264;
}
.content-text__university {
  margin-bottom: 30px;
  font-family: "Mont Regular";
  font-size: 16px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.9450980392);
}
.content-text__experience {
  margin-bottom: 30px;
}

.information {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
  background-color: #f5f5fa;
  padding: 30px;
}
.information__street {
  font-family: "Mont Regular";
  font-size: 16px;
  line-height: normal;
  color: #323264;
  padding-bottom: 10px;
}
.information__map {
  font-family: "Mont Regular";
  font-size: 12px;
  line-height: normal;
  color: #24a3ff;
  padding-bottom: 21px;
  text-transform: uppercase;
}
.information__facebook {
  background-color: #f5f5fa;
  padding-bottom: 10px;
  border: none;
}
.information__phone {
  font-family: "Mont Bold";
  font-size: 16px;
  line-height: normal;
  color: #46466e;
  padding-bottom: 10px;
}
.information__email {
  font-family: "Mont Bold";
  font-size: 16px;
  line-height: normal;
  color: #24a3ff;
  padding-bottom: 30px;
}
.information__hlegal {
  font-family: "Mont Regular";
  font-size: 16px;
  line-height: normal;
  color: #b3b3ba;
}/*# sourceMappingURL=team-entry.css.map */